USE [master]
GO
/****** Object:  Database [MiBaseDatosAOB]    Script Date: 01/11/2017 22:13:18 ******/
CREATE DATABASE [MiBaseDatosAOB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiBaseDatosAOB', FILENAME = N'G:\Prog-Lab_II\59 - 61. Bases de Datos\MiBaseDatosAOB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MiBaseDatosAOB_log', FILENAME = N'G:\Prog-Lab_II\59 - 61. Bases de Datos\MiBaseDatosAOB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiBaseDatosAOB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiBaseDatosAOB]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 01/11/2017 22:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Persona](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([ID], [Nombre], [Apellido]) VALUES (1, N'Ale', N'Ben')
INSERT [dbo].[Persona] ([ID], [Nombre], [Apellido]) VALUES (2, N'Ale', N'Ben')
SET IDENTITY_INSERT [dbo].[Persona] OFF
USE [master]
GO
