<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibreriaDeClases.Properties.Settings.MiBaseDatosAOBConnectionString"
            connectionString="Data Source=LAB3PC10\sqlexpress;Initial Catalog=MiBaseDatosAOB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>